<div align="center">
    <h1>Welcome! {{name}} We will see some basic operations</h1>
    <h2>
    <ul>
      <li>List of Events</li><br>
      <li>Add New Event</li><br>
      <li>Edit Event Information</li><br>
      <li>Delete an Event</li><br>
      <li>List of IEEE CS Volunteers</li><br>
      <li>Add New IEEE CS Volunteer</li><br>
      <li>Edit IEEE CS Volunteer Information</li><br>
      <li>Delete IEEE CS Volunteer</li><br>
      <li>List of IEEE EMBS Volunteers</li><br>
      <li>Add New IEEE EMBS Volunteer</li><br>
      <li>Edit IEEE EMBS Volunteer Information</li><br>
      <li>Delete IEEE EMBS Volunteer</li><br>
      <li>List of IEEE RAS Volunteers</li><br>
      <li>Add New IEEE RAS Volunteer</li><br>
      <li>Edit IEEE RAS Volunteer Information</li><br>
      <li>Delete IEEE RAS Volunteer</li><br>
    
    </ul>
    </h2>
    </div>
    