<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <ul>
      <li>
        <a routerLink="">Home</a>
      </li>
      <li>
        <a routerLink="viewevents">View Events</a>
      </li>
      <li>
          <a routerLink="addevent">Add Event</a>
        </li>
      <li>
        <a routerLink="editevent">Edit Event</a>
      </li>
      <li>
          <a routerLink="delevent">Delete Event</a>
        </li>
        <li>
          <a routerLink="viewieeecs">View IEEE CS Volunteers</a>
        </li>
        <li>
            <a routerLink="addieeecs">Add IEEE CS Volunteer</a>
          </li>
        <li>
          <a routerLink="editieeecs">Edit IEEE CS Volunteer</a>
        </li>
        <li>
            <a routerLink="delieeecs">Delete IEEE CS Volunteer</a>
          </li>
          <li>
            <a routerLink="viewieeeembs">View IEEE EMBS Volunteers</a>
          </li>
          <li>
              <a routerLink="addieeeembs">Add IEEE EMBS Volunteer</a>
            </li>
          <li>
            <a routerLink="editieeeembs">Edit IEEE EMBS Volunteer</a>
          </li>
          <li>
              <a routerLink="delieeeembs">Delete IEEE EMBS Volunteer</a>
            </li>
            <li>
              <a routerLink="viewieeeras">View IEEE RAS Volunteers</a>
            </li>
            <li>
                <a routerLink="addieeeras">Add IEEE RAS Volunteer</a>
              </li>
            <li>
              <a routerLink="editieeeras">Edit IEEE RAS Volunteer</a>
            </li>
            <li>
                <a routerLink="delieeeras">Delete IEEE RAS Volunteer</a>
              </li>
      </ul>
</div>


<router-outlet></router-outlet>
